<%= turbo_frame_tag dom_id(@seat_module, 'new_seat') do %>
  <div id='seat_new_form' 
        class='fixed top-0 bottom-0 left-0 right-0 z-50 flex items-center justify-center bg-black bg-opacity-50'
        data-controller='seat-form'
        data-action='click->seat-form#cancel'
        data-seat-form-target='form'>
    <div class='justify-center w-3/12'>
      <div class='relative p-4 text-center bg-white rounded' data-seat-form-target='box'>
        <button class='absolute top-0 text-xl text-red-500 right-2 hover:text-red-700'
                data-action='click->seat-form#cancel'>
          <i class="fa-solid fa-xmark"></i>
        </button>
        <h3 class='mb-4 major-under-line'>Create Seat</h3>

        <%= form_with model: seat, url: url do |f| %>
          <div>
            <%= f.text_field :title, class: 'w-full mb-4 border-none rounded bg-bgGray ', placeholder: 'Title', required: true, data: {seat_form_target: 'title', action: 'input->seat-form#setSubmit'} %>

            <div class='flex gap-2 mb-4'>
              <div class='flex items-center gap-1'>
                <i class="fa-solid fa-person"></i>
                <%= f.number_field :capacity, class: 'w-full border-none rounded bg-bgGray ', placeholder: 'Capacity', min: 1, required: true, data: {seat_form_target: 'capacity', action: 'input->seat-form#setSubmit'} %>
              </div>
              
              <div class='flex items-center gap-1'>
                <i class="fa-solid fa-dollar-sign"></i>
                <%= f.number_field :deposit, class: 'w-full border-none rounded bg-bgGray  ', placeholder: 'Deposit', min: 0 %>
              </div>
            </div>
            <div class='flex items-center gap-1 mb-4 '>
              <i class="fa-solid fa-chair"></i>
              <%= f.select :table_type, Seat.table_types.keys, {}, class: 'w-full border-none rounded bg-bgGray' %>
            </div>
            <%= f.submit class: 'w-full major-button hidden', data: {seat_form_target: 'submit'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

