<%= turbo_frame_tag dom_id(seat) do %>
  <div class='flex justify-between p-4 text-lg rounded bg-bgGray'>
    <div>
      Table
      <p class='text-xl major-under-line after:my-0'>
        <%= seat.title %>
      </p>
      <div>
        <i class="fa-solid fa-person"></i>
        <span class='text-xl text-major'>
          <%= seat.capacity %>
        </span>
      </div>
    </div>
    <button class='relative'>
      <i class=" fa-solid fa-ellipsis-vertical text-slate-200 peer"></i>
      <div class='absolute top-0 right-0 z-10 hidden px-4 py-2 peer-hover:block hover:block bg-bgGray'>
        <%= link_to edit_admin_seat_path(seat), data: :post, class: 'flex justify-between items-center hover:text-major' do %>
          Edit
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      
        <%= link_to admin_seat_path(seat), data: {turbo_method: :delete}, class: 'flex items-center justify-between text-red-600 hover:text-red-700' do %>
          Delete
          <i class="ml-2 text-sm fa-solid fa-trash"></i>
        <% end %>
      </div>
    </button>
  </div>
<% end %>
