<h1 class='text-4xl font-bold'>Seat</h1>
<div class='grid gap-4 mt-4'>
  <div class='h-auto p-4 bg-white rounded'>
    <%= form_with model: @seat, url: admin_restaurant_seats_path(@restaurant) do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div>
        <%= f.label :capacity %>
        <%= f.number_field :capacity, min: 1, value: 1 %>
      </div>
      <div>
        <%= f.label :is_open %>
        <%= f.check_box :is_open, checked: true %>
      </div>
      <div>
        <%= f.submit %>
      </div>

    <% end %>
  </div>

  <div class='h-auto p-4 bg-white rounded'>
    <% if @seats.present? %>
      <% @seats.each do |seat| %>
        <%= seat.title %>
        <%= seat.state %>
        <%= seat.kind_of %>
        <%= seat.capacity %>
        <%= seat.is_open %>
      <% end %>
    <% else %>
      <div class='flex flex-col items-center justify-center p-4 border rounded'>
        <div class='mb-4 text-slate-300'>Click the create button to create the new seat</div>
        <button class='my-2 major-button'>
          <i class="fa-solid fa-square-plus"></i>
          Create Time
        </button>
      </div>
    <% end %>

  </div>
</div>
