<div class='h-screen pt-1 bg-bgGray'>
  <div class='w-8/12 p-6 m-auto mt-10 bg-white rounded' data-controller='restaurant-form'>
    <%= form_with(model: restaurant, url: url, data: {turbo: false}) do |f| %>
      <h2 class='mb-6 major-under-line'>Info</h2>
      <div class='grid grid-cols-2 gap-4 mb-4'>
        <div>
          <div class='grid grid-cols-6 mb-4'>
            <div class='flex col-span-2'>
              <%= f.label :name, class: 'm-auto ml-0 ' %>
              <span class='pr-3 border-l-2 border-major'></span>
            </div>
            <%= f.text_field :name, class: ' border-none bg-bgGray rounded m-auto col-span-4 w-full', data: {restaurant_form_target: 'name', action: 'input->restaurant-form#setSubmit'}, required: true, placeholder: 'Name' %>
          </div>
          <div class='grid grid-cols-6 mb-4'>
            <div class='flex col-span-2'>
              <%= f.label :tel, class: 'm-auto ml-0 ' %>
              <span class='pr-3 border-l-2 border-major'></span>
            </div>
              <%= f.text_field :tel, class: ' border-none bg-bgGray rounded m-auto col-span-4 w-full ', data: {restaurant_form_target: 'tel', action: 'input->restaurant-form#setSubmit'}, required: true, placeholder: 'Telephone' %>
          </div>
        </div>
        <div>
          <div class='grid grid-cols-6 mb-4'>
            <div class='flex col-span-2'>
              <%= f.label :address, class: 'm-auto ml-0 ' %>
              <span class='pr-2 border-l-2 border-major'></span>
            </div>

            <%= f.text_field :address, class: ' border-none bg-bgGray rounded m-auto col-span-4 w-full', data: {restaurant_form_target: 'address', action: 'input->restaurant-form#setSubmit'}, required: true, placeholder: 'Address'  %>
          </div>
          <div class='grid grid-cols-6 mb-4'>
            <div class='flex col-span-2'>
              <%= f.label :branch, class: 'm-auto ml-0 ' %>
              <span class='pr-3 border-l-2 border-major'></span>
            </div>
            <%= f.text_field :branch, class: ' border-none bg-bgGray rounded m-auto col-span-4 w-full', placeholder: 'Branch (Not a branch please do not fill in)' %>
          </div>
        </div>
      </div>

      <div class='grid grid-cols-3 gap-2'>
        <div class='grid grid-cols-2 mb-4'>
          <div class='flex'>
            <%= f.label :dining_time, class: 'm-auto ml-0 ' %> 
              <span class='pr-5 border-l-2 border-major'></span>
            </div>
          <%= f.number_field :dining_time, class: ' border-none bg-bgGray rounded m-auto  w-full', required: true, min: 0 %>
        </div>

        <div class='grid grid-cols-2 mb-4'>
          <div class='flex'>
            <%= f.label :interval_time, class: 'm-auto ml-0 ' %>
            <span class='pr-5 border-l-2 border-major'></span>
          </div>
          <%= f.number_field :interval_time, class: ' border-none bg-bgGray rounded m-auto  w-full', required: true, min: 0 %>
        </div>

        <div class='grid grid-cols-2 mb-4'>
          <div class='flex'>
            <%= f.label :period_of_reservation, class: 'm-auto ml-0 text-sm' %>
            <span class='pr-3 border-l-2 border-major'></span>
          </div>
          <%= f.number_field :period_of_reservation, class: 'border-none bg-bgGray rounded m-auto w-full', required: true, min: 1 %>
        </div>
      </div>
      <h2 class='mb-6 major-under-line'>Deposit</h2>
      <div class='grid grid-cols-2 gap-4 mb-4'>
         <div>
            <h3 class='font-bold'><%= f.label :deposit, 'Deposit Amount', class: 'm-auto ml-0' %></h3>
            <div>
              <p class='inline mr-2'>The deposit per person:</p>
              <%= f.number_field :deposit, class: 'border-none bg-bgGray rounded w-16 px-0 text-center', min: 0, data: {action: 'change->restaurant-form#setHeadcount'} %>
            </div>
          </div>

          <div>
            <h3 class='font-bold'>
              <%= f.label :headcount_requirement, 'Party size limit', class: 'm-auto ml-0 text-slate-300', data: {restaurant_form_target: 'headcountLabel'} %>
            </h3>
            <div class='flex items-center text-lg text-slate-300' data-restaurant-form-target='text'>
              Prepay for parties of
              <%= f.number_field :headcount_requirement , class: 'border-none bg-bgGray rounded w-10 px-0 mx-2', min: 0, data: {restaurant_form_target: 'headcount'}, disabled: true %>
              or more.
            </div>
          </div>

      </div>

      <h2 class='mb-6 major-under-line'>Description</h2>
      <%= f.rich_text_area :content %>

      <div class='fixed bottom-0 left-0 right-0 z-50 hidden py-2 text-center bg-white', data-restaurant-form-target= 'submit'>
        <div class='flex justify-between w-4/12 gap-4 m-auto'>
          <button class='w-4/12 rounded-full cancel-button hover:bg-red-700', data-action = 'click->restaurant-form#cancel'>Cancel</button>
          <%= f.submit class: ' major-button rounded-full w-8/12' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
