<div>
  <h1 class='text-4xl font-bold'>Setting</h1>
  
  <div class='grid grid-cols-3 gap-4 mt-4 ' data-controller="business-time-new">
    <section class='p-4 bg-white rounded'>
      <h2 class='text-3xl font-bold'>Business Time</h2>
      <button class='my-2 major-button' data-action="click->business-time-new#unfold">
        <i class="fa-solid fa-square-plus"></i>
        Create Time
      </button>
      <div class='hidden p-4 mb-2 border rounded' data-business-time-new-target='new'>
        <%= form_with model: @time_module, url: admin_restaurant_time_modules_path(@restaurant), data: {turbo: false} do |f| %>
          <div class='mb-4 text-lg'>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'w-full rounded-lg h-10',
            data: {business_time_new_target: 'titleInput', 
                  action: 'input->business-time-new#getTitle'
                  }%>
          </div>
          <div>
            <template data-business-time-new-target='timeField'>
              <%= f.fields_for :business_times, BusinessTime.new do |business_time_f| %>
                <%= render 'nest_column', business_time_f: business_time_f %>
                <div class='mb-3 border'>
                </div>
              <% end %>
            </template>
            <%= f.fields_for :business_times do |business_time_f| %>
              <%= render 'nest_column', business_time_f: business_time_f %>
            <% end %>
 
          </div>

          <div class='flex justify-center'>
            <%= link_to '#', data: {action: 'click->business-time-new#addColumn'} do %>
              <i class="text-xl fa-solid fa-plus text-major hover:text-orange-600"></i>
            <% end %>
          </div>
          
          <div class='flex gap-2'>
            <%= link_to '#', class: 'cancel-button', data: {action: 'click->business-time-new#cancel'} do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
            <%= f.submit class: 'disabled-button w-full', data: {business_time_new_target: 'submit'}, disabled: true %>
          </div>

        <% end %>

      </div>
      <div>
        <% if @time_modules %>
          <% @time_modules.each do |time| %>
            <div class='grid grid-cols-4 gap-4 p-2 mb-4 rounded bg-bgGray'>
              <span class='flex justify-between'>
                <span class='m-auto'>
                  <%= time.title %>
                </span>
                <span class='border-r-2 border-major'></span>
              </span>
             
              <span class='flex items-center justify-between col-span-3'>
              
                <span>
                  <% time.business_times.each do |t| %>
                    <div>
                      <%= t.start.strftime('%R') %> -
                      <%= t._end.strftime('%R') %>
                    </div>
                  <% end %>
                </span>
                
                <span class='relative inline-block my-auto'>
                  <span class='peer'>
                    <i class="px-4 py-2 fa-solid fa-ellipsis-vertical text-slate-200"></i>
                  </span>
                  <div class='absolute right-0 z-10 hidden p-4 rounded bg-bgGray peer-hover:block hover:block'>
                      <%= link_to admin_time_module_path(time), data: { "turbo-method": :delete } do %>
                        <div class='flex items-center justify-between hover:text-major'>
                          edit
                          <i class="fa-solid fa-pen-to-square"></i>
                        </div>
                      <% end %>
                      
                      <%= link_to admin_time_module_path(time), data: { "turbo-method": :delete } do %>
                        <div class='flex items-center justify-between text-red-600 hover:text-red-700'>
                          Delete
                          <i class="ml-2 text-sm fa-solid fa-trash"></i>
                        </div>
                      <% end %>
                  </div>

                </span>
              </span>

            </div>
          <% end %>
        <% else %>
          <div class='p-4 text-center border rounded'>
            <p class='text-lg text-gray-300'>Click create to add a new business time</p>
          </div>
        <% end %>
      </div>

    </section>

    
    
  </div>

</div>
