<div id=<%= dom_id(seat_module) %>>
  <div class='flex justify-between px-4 py-2 text-xl border-b'> 

    <%= seat_module.title %>
    <div>
      <%= button_to admin_seat_module_path(seat_module), method: :get, data: {seat_module_target: 'show'}, class: 'text-slate-300 hover:text-slate-500' do%>
        <%= seat_module.seats.count %>
        <i class="fa-solid fa-angle-up fa-rotate-90"></i>
      <% end %>
      
      <div class='flex gap-2'>
        <%= button_to edit_admin_seat_module_path(seat_module), data: :post, class: 'hidden', data: {seat_module_target: 'edit'} do%>
          <i class="fa-solid fa-pen-to-square text-slate-300 hover:text-major"></i>
        <% end %>
        <%= link_to admin_seat_module_path(seat_module), data: {turbo_method: 'delete', turbo_confirm: 'Are you sure??', seat_module_target: 'delete'}, class: 'text-red-500 hover:text-red-700 hidden' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
