<% frame_id = dom_id(seat_module, 'seat_module') %>
<%= form_with model: @seat_module, url: admin_seat_module_path(seat_module), method: 'patch' do |f| %>
  <%= turbo_frame_tag frame_id do %>
    <div class='flex justify-between px-4 py-2 text-xl border-b'> 
      <p>
        <%= link_to edit_admin_seat_module_path(seat_module), data: {seat_module_target: 'edit'}, class: 'hidden' do %>
          <i class="fa-solid fa-pen text-slate-200 hover:text-major"></i>
        <% end %>
        <%= seat_module.title %>
      </p>

      <p class='text-slate-300'>
        <%= seat_module.seats.count %>
        <button data-controller='show-seat' 
                data-seat-module = <%= seat_module.id %>
                data-action='click->show-seat#show'>
          <i class="fa-solid fa-angle-up fa-rotate-90"></i>
        </button>
      </p>
    </div>
  <% end %>
<% end %>
