<%= form_with model: reservation, url: url, data: {controller: 'reservation-form'}, method: method do |f| %>
  <div class='gap-4 md:flex'>
    <div class='w-full mb-4 '>
      <h3 class='mb-2 font-bold'>Party Size</h3>
      <div class='flex items-center gap-2' data-controller='people-quantity' data-restaurant="<%= @restaurant.id %>">
        <div class='flex items-center'>
          <%= f.number_field :adult_quantity, min: 1, required: true, class: 'border-none bg-bgGray rounded-lg w-full', data: {action: 'change->reservation-form#sumQuantity', reservation_form_target: 'adult'} %>
          <p>Adult(s)</p>
        </div>
        <div class='flex items-center'>
          <%= f.number_field :child_quantity, min: 0, class: 'border-none bg-bgGray rounded-lg w-full', data: {action: 'change->reservation-form#sumQuantity', reservation_form_target: 'kid'} %>
          <p>Kid(s)</p>
        </div>
      </div>
    </div>

    <div class='w-full gap-2 md:flex'>
      <div class='w-full'>
        <h3 class='mb-2 font-bold'>Dining date</h3>
        <input type="text" id='reservation-datepicker'
                data-controller="reservation-datepicker"
                data-action = 'input->reservation-form#inputReservationDate'
                data-reservation-form-target='datepicker'
                data-restaurant = <%= @restaurant.id %>
                class= 'w-full border-none rounded-lg bg-bgGray'
                data-default-date=<%= @default_date%>>
      </div>
      
      <div class='w-full'>
        <h3 class='mb-2 font-bold'>Type of table</h3>
        <%= f.select :table_type, Reservation.table_types.keys, {},
                      class: 'w-full border-none rounded-lg bg-bgGray', 
                      data: {action: 'change->reservation-form#inputTableType',
                            reservation_form_target: 'tableType'} %>
      </div>

    </div>
  </div>

  <div>
    <div class='hidden p-4 text-center underline border border-red-500 rounded-lg' data-reservation-form-target='alert' data-maximum-capacity = <%= @maximum_capacity %>>
      All available times are fully booked.
    </div>
    <div data-reservation-form-target='timeField'>
      <h3 class=' after:content-[""] flex items-center after:border-t after:border-slate-300 after:w-full after:ml-2 text-slate-300 whitespace-nowrap' data-reservation-form-target='midnightTitle'>Midnight - Early morning</h3>
      <div class='flex flex-wrap gap-4 py-4 ' data-reservation-form-target='midnight'></div>

      <h3 class=' after:content-[""] flex items-center after:border-t after:border-slate-300 after:w-full after:ml-2 text-slate-300' data-reservation-form-target='morningTitle'>Morning</h3>
      <div class='flex flex-wrap gap-4 py-4 ' data-reservation-form-target='morning'></div>
      
      <h3 class=' after:content-[""] flex items-center after:border-t after:border-slate-300 after:w-full after:ml-2 text-slate-300' data-reservation-form-target='noonTitle'>Noon</h3>
      <div class='flex flex-wrap gap-4 py-4 ' data-reservation-form-target='noon'></div>
      
      <h3 class=' after:content-[""] flex items-center after:border-t after:border-slate-300 after:w-full after:ml-2 text-slate-300' data-reservation-form-target='eveningTitle'>Evening</h3>
      <div class='flex flex-wrap gap-4 py-4 ' data-reservation-form-target='evening'></div>
    </div>
  </div>
  
  <div class='fixed bottom-0 left-0 z-50 flex w-full bg-white border-t h-14 rigth-0 '>
    <%= f.submit class: 'w-full max-w-screen-lg py-1 mx-4 my-auto text-lg font-bold text-center disabled-button lg:m-auto ', disabled: true, data: {reservation_form_target: 'submit'} %>
  </div>
<% end %>
