<div class='flex h-screen max-w-lg m-auto bg-bgGray'>
  <div class='w-10/12 p-4 m-auto text-center bg-white rounded'>
    <div class='py-4 border-b'>
      <div>
        <h1><%= restaurant.name %></h1>
        <h2><%= restaurant.branch %></h2>
      </div>
      <h3 class='text-slate-400'><%= restaurant.address %></h3>
      <h3 class='text-major'><%= restaurant.tel %></h3>
    </div>
    
    <div class='p-4'>
      <h2 class='text-xl font-normal'>
        Hello, <%= reservation.name %>
      </h2>
      <p class='mb-4 text-md'>The following is your reservation information:</p>

      <div class='p-4 mb-4 border rounded'>
        <div class='text-2xl'>
          <%= reservation.state %>
        </div>
        <div class='text-2xl'>
          <%= reservation.arrival_time.strftime('%Y-%m-%d') %>
        </div>
        <div class='text-4xl text-major'>
          <%= reservation.arrival_time.strftime('%H:%M') %>
        </div>
        <div>
          <%= reservation.adult_quantity %>Adult(s)
          <%= reservation.child_quantity %>Kid(s)
        </div>
        <div>
          <%= reservation.table_type %>
        </div>
        <div>
          <%= reservation.capitation * reservation.people_sum if reservation.capitation > 0 %>
        </div>
      </div>
      
      <% if reservation.comment.present? %>
        <div class='p-4 mb-4 border rounded'>
          <%= reservation.comment %>
        </div>
      <% end %>
      
      <div class='flex flex-col gap-4'>
        <% if  reservation.pending?%> 
          <%= link_to 'Click to complete the deposit payment.', line_pay_reservation_path(reservation), data: {turbo: false}, class: 'major-button w-full py-2' %>
        <% end %>
        <%= button_to 'Cancel Reservation', cancel_reservation_path(reservation), class: 'border border-slate-300 w-full py-2 rounded' %>
      </div>
    </div>
  </div>
</div>
