<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @reservation.name %></h3>
    <p>Thank's for reservated the <%= @reservation.restaurant.name %>.</p>
    <p>The following is your reservation information:</p>
    <h4>Reservation time: <%= @reservation.arrival_time %></h4>
    <h4><%= @reservation.adult_quantity %>Adult(s) <%= @reservation.child_quantity %> Kid(s)</h4>
  </body>
</html>