<div class='px-4 pt-4 md:px-0'>
  <% @restaurants.each do |restaurant| %>
    <div class='p-4 bg-white rounded-lg'>
      <%= link_to restaurant_path(restaurant) do %>
        <div class='gap-4 md:flex'>
          <div class='border h-26 md:h-48 md:w-50'>
            <%= image_tag 'background', class: 'h-full w-full object-cover' %>
          </div>
          
          <div class='border'>
            <h2 class='mb-4 major-under-line'>
              <%= restaurant.name %>
            </h2>
            <h3>
              <%= restaurant.branch %>
            </h3>
            <h3 class='text-slate-400'>
              <%= restaurant.address %>
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
