<!DOCTYPE html>
<html>
  <head>
    <title>WoDing2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.9/dist/flatpickr.min.css">
  </head>

  <body>
    <main class='h-screen bg-bgGray'>
      <%= render 'shared/navbar' %>
      <%= render 'shared/backstage_nav' %>
      <%= render 'shared/backstage_restaurant_nav' %>
      <div class='mt-24 ml-24 '>
        <%= render 'shared/messages' %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
